In [ ]:
                                           web scraping assignment-1

In [1]:
!pip install bs4

Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: beautifulsoup4 in c:\users\jkart\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\jkart\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py): started
  Building wheel for bs4 (setup.py): finished with status 'done'
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1257 sha256=0e6ba171f77940641a2e995c5fbbcb059eaf2d9c8464c4598076ff498a8d45c2
  Stored in directory: c:\users\jkart\appdata\local\pip\cache\wheels\73\2b\cb\099980278a0c9a3e57ff1a89875ec07bfa0b6fcbebb9a8cad3
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1

In [2]:
!pip install requests

Requirement already satisfied: requests in c:\users\jkart\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jkart\anaconda3\lib\site-packages (from requests) (2022.9.14)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\jkart\anaconda3\lib\site-packages (from requests) (1.26.11)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\jkart\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\jkart\anaconda3\lib\site-packages (from requests) (3.3)

In [48]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [49]:
#question 1

In [50]:
def data(url):
    try:
        response = requests.get(url)
        response.raise_for_status()  

        soup = BeautifulSoup(response.content, 'html.parser')
        headers = []

        for header_level in range(1, 7): 
            header_tags = soup.find_all(f'h{header_level}')
            for header_tag in header_tags:
                headers.append({
                    'level': header_level,
                    'text': header_tag.get_text(strip=True)
                })

        return headers

    except requests.exceptions.RequestException as e:
        print(f"An error occurred: {e}")
        return []

if __name__ == "__main__":
    website_url = "https://en.wikipedia.org/wiki/Main_Page"  
    extracted_headers = data(website_url)

    for header in extracted_headers:
        print(f"Header : {header['text']}")

Header : Main Page
Header : Welcome toWikipedia
Header : From today's featured article
Header : Did you know ...
Header : In the news
Header : On this day
Header : Today's featured picture
Header : Other areas of Wikipedia
Header : Wikipedia's sister projects
Header : Wikipedia languages

In [51]:
#question 3.a

In [52]:
def data1(url):
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')

    teams = []
    table = soup.find('table', class_='table')
    rows = table.find_all('tr')

    for row in rows[1:11]:  
        cols = row.find_all('td')
        team = {
            'Rank': cols[0].get_text(strip=True),
            'Team': cols[1].get_text(strip=True),
            'Matches': cols[2].get_text(strip=True),
            'Points': cols[3].get_text(strip=True),
            'Rating': cols[4].get_text(strip=True)
        }
        teams.append(team)

    return teams

def scrape_odi_players(url, category):
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')

    players = []
    table = soup.find('table', class_='table')
    rows = table.find_all('tr')

    for row in rows[1:11]:  
        cols = row.find_all('td')
        player = {
            'Rank': cols[0].get_text(strip=True),
            'Player': cols[1].get_text(strip=True),
            'Team': cols[2].get_text(strip=True),
            'Rating': cols[3].get_text(strip=True)
        }
        players.append(player)

    return players

if __name__ == "__main__":
    base_url = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"
    
    # top 10 ODI teams
    teams_url = base_url
    odi_teams = data1 (teams_url)
    odi_teams_df = pd.DataFrame(odi_teams)
    
    print("Top 10 ODI Teams:")
    print(odi_teams_df)

Top 10 ODI Teams:
  Rank            Team Matches Points Rating
0    1    AustraliaAUS      23  2,714    118
1    2     PakistanPAK      20  2,316    116
2    3        IndiaIND      36  4,081    113
3    4   New ZealandNZ      27  2,806    104
4    5      EnglandENG      24  2,426    101
5    6  South AfricaSA      19  1,910    101
6    7   BangladeshBAN      28  2,661     95
7    8  AfghanistanAFG      16  1,404     88
8    9     Sri LankaSL      32  2,794     87
9   10   West IndiesWI      38  2,582     68

In [53]:
#question 3.b

In [54]:
def data(url):
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')

    batsmen = []
    table = soup.find('table', class_='table')
    rows = table.find_all('tr')

    for row in rows[1:11]: 
        cols = row.find_all('td')
        batsman = {
            'Rank': cols[0].get_text(strip=True),
            'Player': cols[1].get_text(strip=True),
            'Team': cols[2].get_text(strip=True),
            'Rating': cols[3].get_text(strip=True)
        }
        batsmen.append(batsman)

    return batsmen

if __name__ == "__main__":
    base_url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"
    
    # top 10 ODI Batsmen
    odi_batsmen = data(base_url)
    odi_batsmen_df = pd.DataFrame(odi_batsmen)
    
    print("Top 10 ODI Batsmen:")
    print(odi_batsmen_df)

Top 10 ODI Batsmen:
                                                Rank                 Player  \
0                                               1(0)             Babar Azam
1                                               2(0)  Rassie van der Dussen
2                                               3(0)           Fakhar Zaman
3                                               4(0)            Imam-ul-Haq
4  5(2)This player has moved up in the rankings s...           Shubman Gill
5  6(1)This player has moved down in the rankings...           Harry Tector
6  =(1)This player has moved down in the rankings...           David Warner
7                                               8(0)        Quinton de Kock
8                                               9(0)            Virat Kohli
9                                              10(0)            Steve Smith

  Team Rating
0  PAK    886
1   SA    777
2  PAK    755
3  PAK    745
4  IND    743
5  IRE    726
6  AUS    726
7   SA    718
8  IND    705
9  AUS    702

In [55]:
#question 3.c

In [56]:
def data(url):
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')

    bowlers = []
    table = soup.find('table', class_='table')
    rows = table.find_all('tr')

    for row in rows[1:11]:  
        cols = row.find_all('td')
        bowler = {
            'Rank': cols[0].get_text(strip=True),
            'Player': cols[1].get_text(strip=True),
            'Team': cols[2].get_text(strip=True),
            'Rating': cols[3].get_text(strip=True)
        }
        bowlers.append(bowler)

    return bowlers

if __name__ == "__main__":
    base_url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"
    
    # top 10 ODI Bowlers
    odi_bowlers = data(base_url)
    odi_bowlers_df = pd.DataFrame(odi_bowlers)
    
    print("Top 10 ODI Bowlers:")
    print(odi_bowlers_df)

Top 10 ODI Bowlers:
                                                Rank            Player Team  \
0                                               1(0)    Josh Hazlewood  AUS
1                                               2(0)    Mitchell Starc  AUS
2                                               3(0)       Rashid Khan  AFG
3                                               4(0)    Mohammed Siraj  IND
4                                               5(0)        Matt Henry   NZ
5                                               6(0)  Mujeeb Ur Rahman  AFG
6                                               7(0)       Trent Boult   NZ
7                                               8(0)        Adam Zampa  AUS
8                                               9(0)    Shaheen Afridi  PAK
9  10(4)This player has moved up in the rankings ...     Kuldeep Yadav  IND

  Rating
0    705
1    686
2    682
3    670
4    667
5    661
6    660
7    652
8    630
9    622

In [57]:
#question 4.a

In [58]:
def data(url):
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')

    teams = []
    table = soup.find('table', class_='table')
    rows = table.find_all('tr')

    for row in rows[1:11]:  
        cols = row.find_all('td')
        team = {
            'Rank': cols[0].get_text(strip=True),
            'Team': cols[1].get_text(strip=True),
            'Matches': cols[2].get_text(strip=True),
            'Points': cols[3].get_text(strip=True),
            'Rating': cols[4].get_text(strip=True)
        }
        teams.append(team)

    return teams

if __name__ == "__main__":
    base_url = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"
    
    # top 10 ODI Women's teams
    odi_womens_teams = data(base_url)
    odi_womens_teams_df = pd.DataFrame(odi_womens_teams)
    
    print("Top 10 ODI Women's Teams:")
    print(odi_womens_teams_df)

Top 10 ODI Women's Teams:
  Rank            Team Matches Points Rating
0    1    AustraliaAUS      26  4,290    165
1    2      EnglandENG      31  3,875    125
2    3  South AfricaSA      26  3,098    119
3    4        IndiaIND      30  3,039    101
4    5   New ZealandNZ      28  2,688     96
5    6   West IndiesWI      29  2,743     95
6    7   BangladeshBAN      17  1,284     76
7    8     Sri LankaSL      12    820     68
8    9     ThailandTHA      13    883     68
9   10     PakistanPAK      27  1,678     62

In [59]:
#question 4.b

In [60]:
def data(url):
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')

    players = []
    table = soup.find('table', class_='table')
    rows = table.find_all('tr')

    for row in rows[1:11]:  
        cols = row.find_all('td')
        player = {
            'Rank': cols[0].get_text(strip=True),
            'Player': cols[1].get_text(strip=True),
            'Team': cols[2].get_text(strip=True),
            'Rating': cols[3].get_text(strip=True)
        }
        players.append(player)

    return players

if __name__ == "__main__":
    base_url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"
    
    # top 10 ODI Women's batting players
    odi_womens_batting_players = data(base_url)
    odi_womens_batting_players_df = pd.DataFrame(odi_womens_batting_players)
    
    print("Top 10 ODI Women's Batting Players:")
    print(odi_womens_batting_players_df)

Top 10 ODI Women's Batting Players:
                                                Rank                Player  \
0                                               1(0)  Natalie Sciver-Brunt
1                                               2(0)   Chamari Athapaththu
2                                               3(0)           Beth Mooney
3                                               4(0)       Laura Wolvaardt
4  5(1)This player has moved up in the rankings s...       Smriti Mandhana
5  6(1)This player has moved down in the rankings...          Alyssa Healy
6                                               7(0)      Harmanpreet Kaur
7                                               8(0)          Ellyse Perry
8                                               9(0)           Meg Lanning
9                                              10(0)       Stafanie Taylor

  Team Rating
0  ENG    803
1   SL    758
2  AUS    751
3   SA    732
4  IND    708
5  AUS    702
6  IND    694
7  AUS    686
8  AUS    682
9   WI    618

In [61]:
#question 4.c

In [62]:
def data(url):
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')

    allrounders = []
    table = soup.find('table', class_='table')
    rows = table.find_all('tr')

    for row in rows[1:11]:  
        cols = row.find_all('td')
        allrounder = {
            'Rank': cols[0].get_text(strip=True),
            'Player': cols[1].get_text(strip=True),
            'Team': cols[2].get_text(strip=True),
            'Rating': cols[3].get_text(strip=True)
        }
        allrounders.append(allrounder)

    return allrounders

if __name__ == "__main__":
    base_url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"
    
    # top 10 ODI Women's all-rounders
    odi_womens_allrounders = data(base_url)
    odi_womens_allrounders_df = pd.DataFrame(odi_womens_allrounders)
    
    print("Top 10 ODI Women's All-rounders:")
    print(odi_womens_allrounders_df)

Top 10 ODI Women's All-rounders:
    Rank                Player Team Rating
0   1(0)  Natalie Sciver-Brunt  ENG    421
1   2(0)      Ashleigh Gardner  AUS    389
2   3(0)       Hayley Matthews   WI    382
3   4(0)        Marizanne Kapp   SA    349
4   5(0)          Ellyse Perry  AUS    329
5   6(0)           Amelia Kerr   NZ    328
6   7(0)         Deepti Sharma  IND    312
7   8(0)         Jess Jonassen  AUS    241
8   9(0)         Sophie Devine   NZ    233
9  10(0)              Nida Dar  PAK    232

In [63]:
#question 5

In [64]:
import pandas as pd

In [65]:
page = requests.get('https://www.cnbc.com/world/?region=world')
page

In [66]:
soup = BeautifulSoup(page.content)

In [67]:
# Headline

news_headline = []

for i in soup.find_all("a", class_='LatestNews-headline'):
    news_headline.append(i.text)

In [68]:
# time
news_time = []

for i in soup.find_all("span",class_="LatestNews-wrapper"):
    news_time.append(i.text)

In [69]:
# link
news_link = []

for i in soup.find_all("a", class_='LatestNews-headline'):
    news_link.append(i.get('href'))

In [70]:
# dataframe

df = pd.DataFrame({'Headline': news_headline, 'Time': news_time, 'News link': news_link})

df.index=df.index+1

df

,Headline,Time,News link
1,"Ex-software engineer brings in $129,000 a year...",1 Hour Ago,https://www.cnbc.com/2023/08/20/ex-software-en...
2,How to start investing for the long haul for t...,1 Hour Ago,https://www.cnbc.com/2023/08/20/how-to-start-i...
3,'The coolest summer job': Meet Wisconsin's tee...,1 Hour Ago,https://www.cnbc.com/2023/08/20/the-coolest-su...
4,"With Lionel Messi playing soccer in the U.S., ...",2 Hours Ago,https://www.cnbc.com/2023/08/20/lionel-messi-j...
5,Young Bill Gates thought school wasn't 'intere...,2 Hours Ago,https://www.cnbc.com/2023/08/20/bill-gates-tho...
6,Why startups are investing millions to make dr...,2 Hours Ago,https://www.cnbc.com/2023/08/20/startups-inves...
7,Lawmakers weigh tax rule 'backslide' for Venmo...,3 Hours Ago,https://www.cnbc.com/2023/08/20/some-lawmakers...
8,"Here's the trade on Nvidia ahead of earnings, ...",3 Hours Ago,https://www.cnbc.com/2023/08/20/heres-the-trad...
9,Bitcoin had a big drop late last week. Here's ...,3 Hours Ago,https://www.cnbc.com/2023/08/20/bitcoin-had-a-...
10,Why 'career choices' is the No. 1 conflict amo...,21 Hours Ago,https://www.cnbc.com/2023/08/19/why-career-cho...
11,Cruise will reduce robotaxi fleet by 50% in Sa...,23 Hours Ago,https://www.cnbc.com/2023/08/19/cruise-will-re...
12,Can American-made weapons like F-16s turn the ...,23 Hours Ago,https://www.cnbc.com/2023/08/19/can-expensive-...
13,Harvard gut doctor avoids these 4 foods that c...,"August 19, 2023",https://www.cnbc.com/2023/08/19/harvard-gut-do...
14,The clash of sustainability and AI is creating...,"August 19, 2023",https://www.cnbc.com/2023/08/19/the-clash-of-s...
15,On tap next week: 2 housing reports and 2 Inve...,"August 19, 2023",https://www.cnbc.com/2023/08/19/on-tap-next-we...
16,Top 10 best European cities for retirement,"August 19, 2023",https://www.cnbc.com/2023/08/19/best-countries...
17,Google's plan to purge inactive accounts isn't...,"August 19, 2023",https://www.cnbc.com/2023/08/19/google-faces-c...
18,The No. 1 best state to retire in the U.S.—it'...,"August 19, 2023",https://www.cnbc.com/2023/08/19/best-us-states...
19,Mark Cuban passed on an Uber investment that c...,"August 19, 2023",https://www.cnbc.com/2023/08/19/mark-cuban-pas...
20,Believing these 5 Social Security myths may re...,"August 19, 2023",https://www.cnbc.com/2023/08/19/social-securit...
21,Here's why Aldi is looking to the Southern U.S...,"August 19, 2023",https://www.cnbc.com/2023/08/19/aldi-winn-dixi...
22,Here's how the Huy Fong Foods sriracha shortag...,"August 19, 2023",https://www.cnbc.com/2023/08/19/how-did-the-hu...
23,This ETF is soaring in August as market swoon ...,"August 19, 2023",https://www.cnbc.com/2023/08/19/this-etf-is-so...
24,Morgan Stanley is among the most oversold in t...,"August 19, 2023",https://www.cnbc.com/2023/08/19/morgan-stanley...
25,Buy these stocks with upside as market fears i...,"August 19, 2023",https://www.cnbc.com/2023/08/19/goldman-picks-...
26,"Palo Alto shares rise on earnings beat, after ...","August 18, 2023",https://www.cnbc.com/2023/08/18/palo-alto-netw...
27,Wall Street awaits hotly anticipated Nvidia ea...,"August 18, 2023",https://www.cnbc.com/2023/08/18/wall-street-pr...
28,WeWork plunges another 11% after announcing re...,"August 18, 2023",https://www.cnbc.com/2023/08/18/wework-plunges...
29,The iPhone 15 could get one of the biggest upg...,"August 18, 2023",https://www.cnbc.com/2023/08/18/iphone-15-usb-...
30,Coral bleaching event in Florida is 'just the ...,"August 18, 2023",https://www.cnbc.com/2023/08/18/noaa-florida-c...

In [71]:
#question 6

In [72]:
def data(url):
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')

    articles = []
    cards = soup.find_all('div', class_='pod-listing-pod-image')
    for card in cards:
        title = card.find('h3', class_='pod-listing-header').text.strip()
        authors = card.find('p', class_='pod-listing-authors').text.strip()
        published_date = card.find('p', class_='pod-listing-published').text.strip()
        paper_url = card.find('a', class_='pod-listing-title')['href']

        articles.append({
            'Paper Title': title,
            'Authors': authors,
            'Published Date': published_date,
            'Paper URL': paper_url
        })

    return articles

if __name__ == "__main__":
    base_url = "https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles"
    
    # article details
    article_data = data(base_url)
    article_df = pd.DataFrame(article_data)
    
    print("Scraped Article Details:")
    print(article_df)

Scraped Article Details:
Empty DataFrame
Columns: []
Index: []

In [73]:
#question 7

In [74]:
def data(url):
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')

    restaurants = []
    cards = soup.find_all('div', class_='restaurant-card-container')
    for card in cards:
        name = card.find('h2', class_='restaurant-name').text.strip()
        cuisine = card.find('p', class_='restaurant-cuisine').text.strip()
        location = card.find('p', class_='restaurant-location').text.strip()
        ratings = card.find('span', class_='restaurant-rating').text.strip()
        img_url = card.find('img')['data-src']

        restaurants.append({
            'Restaurant Name': name,
            'Cuisine': cuisine,
            'Location': location,
            'Ratings': ratings,
            'Image URL': img_url
        })

    return restaurants

if __name__ == "__main__":
    base_url = "https://www.dineout.co.in/delhi-restaurants"
    
    # restaurant details
    restaurant_data = data(base_url)
    restaurant_df = pd.DataFrame(restaurant_data)
    
    print("Scraped Restaurant Details:")
    print(restaurant_df)

Scraped Restaurant Details:
Empty DataFrame
Columns: []
Index: []